/*postcss-pxtransform disable*/
.classtable-content {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 4px;
  background-color: #f5f5f5;
}
.classtable-content .classtable-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 8px;
}
.classtable-content .classtable-top .classtable-topLeft {
  width: 50px;
  height: 100%;
  border-radius: 8px 0 0 0;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #f5f5f5;
}
.classtable-content .classtable-top .classtable-topRight {
  width: calc(100% - 50px);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 60px;
}
.classtable-content .classtable-top .classtable-topRight .currentDay {
  font-weight: 700;
}
.classtable-content .classtable-bottom {
  display: flex;
}
.classtable-content .classtable-bottom .classtable-left {
  width: 50px;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}
.classtable-content .classtable-bottom .classtable-left-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.classtable-content .classtable-bottom .classtable-left-item .classtable-left-item-top {
  font-size: 14px;
}
.classtable-content .classtable-bottom .classtable-left-item .classtable-left-item-bottom {
  width: 30px;
  text-align: center;
  font-size: 10px;
}
.classtable-content .classtable-bottom .classtable-lessons {
  width: calc(100% - 50px);
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.classtable-content .classtable-bottom .classtable-lessons .classtable-lessons-item {
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  border-right: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  color: #fff;
}
.classtable-content .classtable-bottom .classtable-lessons .notThisWeek {
  background-color: #bdbdbd !important;
}
.classtable-content .classtable-bottom .classtable-lessons .classtable-lessons-item-notThisWeek {
  font-weight: 800;
}
.classtable-switchWeek {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
}
.classtable-switchWeek .classtable-switchWeek-item {
  width: 40px;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  background-image: url('../../static/study/prev.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 10px center;
  box-shadow: 0 0 16px -4px #bdbdbd;
}
.classtable-switchWeek .classtable-switchWeek-item:last-child {
  transform: rotate(180deg);
  margin-left: 12px;
}
