/*postcss-pxtransform disable*/
.classroomNav-content {
  margin-top: 12px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classroomNav-content .classroom-item {
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  border-radius: 16px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin-bottom: 12px;
}
.classroomNav-content .classroom-item Text:nth-child(1) {
  font-size: 20px;
  font-weight: 800;
}
.classroomNav-content .classroom-item Text:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}
