 /*postcss-pxtransform disable*/
.classroomNav-wrapper{

    .classroomNav-content {
        overflow-y: scroll;
        height: calc(100vh - 98px);

        .title{
            font-size: 20px;
            font-weight: bold;
            padding-left: 25px;
            margin-top: 10px;
        }
    
        .classroomNav-content-list {
            margin: 12px 0;
            padding: 0 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 16px;
            row-gap: 12px;
            
            .classroom-item {
                box-sizing: border-box;
                border-radius: 16px;
                background-color: #000;
                color: #fff;
                display: flex;
                flex-direction: column;
                padding: 14px;
                position: relative;
        
                .classroom-item-text{
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                }
        
                Text:nth-child(1) {
                    font-size: 14px;
                    font-weight: 800;
                }
        
                Text:nth-child(2) {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    
       
    }
}
