/*postcss-pxtransform disable*/
.createpost-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
}
.createpost-header .createpost-header-back {
  width: 24px;
  height: 24px;
  background-image: url('../../../static/common/back.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.createpost-header .createpost-header-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-left: 4px;
}
.createpost-form {
  display: block;
  padding: 0 20px;
}
.createpost-form .createpost-title {
  width: 100%;
  height: 44px;
  border-bottom: 0.5px solid #D9D9D9;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.createpost-form .createpost-content {
  width: 100%;
  height: 150px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.createpost-form .createpost-uploadPic-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.createpost-form .createpost-uploadPic-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #EFEFEF;
  background-image: url('../../../static/post/uploadPic.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
}
.createpost-form .createpost-selectedImage-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin: 5px;
}
.createpost-form .createpost-selectedImage-wrapper .createpost-selectedImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  /* 保持图片的纵横比，但是完全覆盖盒子 */
}
.createpost-form .createpost-selectedImage-wrapper .createpost-delete-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 16px;
}
.createpost-form .createpost-postTags {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 16px 0;
  border-top: 0.5px solid #D9D9D9;
  border-bottom: 0.5px solid #D9D9D9;
  color: #BCBCBC;
  font-size: 16px;
  font-weight: 700;
}
.createpost-form .createpost-postTags Text:first-child {
  font-size: 16px;
  letter-spacing: 0.8px;
}
.createpost-form .createpost-postTags Text:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.createpost-form .createpost-postTags .createpost-tags {
  display: flex;
  flex-wrap: wrap;
}
.createpost-form .createpost-postTags .createpost-tags .createpost-tag {
  box-sizing: border-box;
  height: 28px;
  padding: 0px 16px;
  margin: 8px 8px 0 0;
  border-radius: 16px;
  background-color: #EFEFEF;
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.createpost-form .createpost-submit {
  position: absolute;
  left: 50%;
  bottom: 36px;
  transform: translateX(-50%);
  width: 300px;
  height: 44px;
  border-radius: 22px;
  background: #4E6AFF;
  color: #fff;
}
