/*postcss-pxtransform disable*/
.createpost-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
}
.createpost-header .createpost-header-back {
  width: 24px;
  height: 24px;
  background-image: url('../../../static/common/back.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.createpost-header .createpost-header-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-left: 4px;
  margin-bottom: 2px;
}
