/*postcss-pxtransform disable*/
.search-wrapper {
  padding: 0 20px;
}
.search-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.search-header .search-header-back {
  width: 16px;
  height: 16px;
  background-image: url('../../static/common/backTo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.search-header Text {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.search-searchBar {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 52px;
  background-color: #EFEFEF;
  background-image: url('../../static/common/search-searchBar.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 320px center;
  color: #7F7F7F;
  padding-left: 16px;
  font-size: 14px;
  letter-spacing: 1px;
}
.search-history {
  margin-top: 12px;
}
.search-history .search-history-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-history .search-history-top Text {
  color: #2C2C2C;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.search-history .search-history-top .search-history-delete {
  width: 14px;
  height: 14px;
  background-image: url(../../static/common/delete.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 16px;
}
.search-history .search-history-list {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}
.search-history .search-history-list .search-history-item {
  padding: 8px 16px;
  border-radius: 16px;
  background: #EFEFEF;
  font-size: 12px;
  color: #2C2C2C;
  margin-right: 8px;
  margin-bottom: 8px;
}
.hotSearch {
  margin-top: 24px;
}
.hotSearch Text {
  color: #2C2C2C;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.hotSearch .hotSearch-list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 12px;
  color: #2C2C2C;
  font-size: 14px;
  letter-spacing: 0.7px;
}
